/* Register.css */

.register-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    margin-top: 1.5cm;
    background-color: rgb(27, 201, 117);
  }
  
  .register-content {
    display: flex;
    flex-direction: column;
  }
  
  .error {
    color: #f00;
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  
  button.back-to-login {
    padding: 10px 20px;
    background-color: #4c00ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
  }
  
  button.register{
    width: 50%; /* Set button width to 20% of the container */
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 25px;
  }
  
  button[type="submit"]:hover,
  button.backtologin:hover {
    background-color: #0056b3;
  }
  